<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Heroku Spring Boot Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<!--<div style="margin-top: 20px;margin-left: 50px">-->
<div class="container">
<h3> Users : </h3>
    <form action="#" th:action="@{/createuser}" th:object="${user}" method="post">>
        <table border="0">
            <tr>
                <td colspan="2" align="center"><h2>Spring MVC Form Demo - Registration</h2></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><input id="username" type="text" th:field="*{username}"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input id="password" type="text" th:field="*{password}"/></td>
            </tr>
            <tr>
                <td>Role:</td>
                <td><input id="role" type="text" th:field="*{role}"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input id="email" type="text" th:field="*{email}"/></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input id="address" type="text" th:field="*{address}"/></td>
            </tr>
            <tr><td><input type="submit" name="Submit"/></td></tr>

        </table>
    </form>
</div>
</body>
</html>