<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Heroku Spring Boot Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" th:href="@{/assets/css/bootstrap.css}" />
    <link rel="stylesheet" href="../assets/css/thymeleaf-demo.css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<!--<div style="margin-top: 20px;margin-left: 50px">-->
<div class="container">
<h3> Users : </h3>
<table>
<th><td>Id</td><td>Username</td><td>Password</td><td>Email</td><td>Address</td><td>Role</td></th>
<tr th:each="contact : ${users}">
    <td></td>
    <td th:text="${contact.id}" ></td>
    <td th:text="${contact.username}" ></td>
    <td th:text="${contact.password}" ></td>
    <td th:text="${contact.email}" ></td>
    <td th:text="${contact.address}" ></td>
    <td th:text="${contact.role}" ></td>
</tr>
</table>
</div>
</body>
</html>